<div class="w-100 flex flex-column" id="outerframe">

    <h4>Help Request</h4>

  <div class="selection-space">
    <!-- <label>Category</label>  -->
    <input class="visually-hidden" id="helpRequestCategory" type="text" placeholder="Choose Category" />
    <div
            class="flex justify-s-between bg-light-gray br-default padding-1r"
            onclick="helpRequestCategoriesSelector.classList.toggle('visually-hidden');"
    >
      <span id="helpRequestCategoryLabel" style="color: #959595">Choose Category</span>
      <i class="fas fa-chevron-down"></i>
    </div>


    <ul
            id="helpRequestCategoriesSelector"
            class="giveaway-categories visually-hidden"
            onclick="helpRequestCategory.value = event.target.dataset.id; helpRequestCategoryLabel.innerHTML = event.target.textContent; this.classList.toggle('visually-hidden');"
    >
      <li data-id="gardening">Gardening</li>
      <li data-id="grocery_shopping">Grocery Shopping</li>
      <li data-id="installation">Installation</li>
      <li data-id="cleaning">Cleaning</li>
      <li data-id="babysitting">Babysitting</li>
      <li data-id="other">Other</li>
    </ul>
  </div>

  <label class="flex flex-column selection-space" for="newPostTitle">
  
    <input type="text" id="newPostTitle" class="bg-light-gray border-none" placeholder="  Title"/>
  </label>

  <div>
    <label for="newPostCompensation">Offer Compensation
      <input required class="bg-light-gray border-none" type="number" name="newPostCompensation" id="newPostCompensation" placeholder="$ Expected Pay">
    </label>

    <br>
    <label class="margin-h-1r">
      <input class="bg-light-gray" type="checkbox" onclick="newPostCompensation.disabled = !newPostCompensation.disabled; newPostCompensation.value=''">
      No offer
    </label>
  </div>


  <label class="flex flex-column" class="flex flex-column" for="newPostDescription">

    <textarea id="newPostDescription" class="margin-v-1r br-default bg-light-gray border-none" rows="4" placeholder="Description"></textarea>
  </label>
</div>
