<div class="box-shadow padding-1r margin-b-1r">
    <div>{header}</div>
    <div>{body}</div>

    <hr class="hr">

    <div class="card-content">
            <div class="top-part">
                <div class="top-left-part">
                    <div class="avitar">
                        <img src="https://picsum.photos/100/100" alt="" >
                    </div>
                    <div class="small-chunk">
                        <p>John Doe</p>
                        <p>6 hours ago</p>
                    </div>
                </div>
                <div class="greenlabel">
                    <p>Highly Recommended</p>
                </div>
            </div>
           <div class="midl-part">
                <img src="https://picsum.photos/1200/900" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi, fugiat facere veniam consequuntur non. Repudiandae, aut. A sed delectus temporibus labore nam cum animi sapiente voluptatem, dolorem dignissimos nostrum.</p>
                <div class="post-body-text">
                    <a><i class="fa-regular fa-heart "></i><span>1</span></a>
                    <a><i class="fa-regular fa-heart"></i><span>Like</span></a>
                    <a><i class="fa-regular fa-comment"></i><span>Comment</span></a>
                    <a><i class="fa-solid fa-arrow-up-from-square"></i><span>Share</span></a>
                </div>
           </div>
           <div class="footer-part">
               <input type="text">
               <button>enter</button>
            </div>
       
   </div>
</div>