<div class="w-100 flex flex-column">
  <label class="flex flex-column" for="newPostTitle">
    Title
    <input type="text" id="newPostTitle" class="bg-light-gray border-none" placeholder="What do want to recommend?"/>
  </label>

  <label class="starRating rating-label">Rate Your Experience :
      <input required
          id="newPostRating"
          class="rating"
          max="5"
          step=".5"
          type="range"
          value="3">
  </label>

  <label class="flex flex-column" class="flex flex-column" for="newPostDescription">
    Description
    <textarea id="newPostDescription" class="margin-v-1r br-default bg-light-gray border-none" rows="4"></textarea>
  </label>
</div>
