.new-post {
    padding: 1rem;
    width: 80vw;
}

.new-post button {
    padding: 1rem;
}

.new-post-separator {
    width: 110px;
    height: 2px;
    background: #70C782;
}

.new-post h3 {
    font-size: 1.5rem;
}


/* Star Rating */
.rating {
    --dir: right;
    --fill: #FAA22C;
    --fillbg: rgba(100, 100, 100, 0.15);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
    border: none;
    padding:0;
}

.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
.rating::-webkit-slider-runnable-track {
background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
block-size: 100%;
mask: repeat left center/var(--starsize) var(--symbol);
-webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}
.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}
.rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
    margin-block-end: 1rem;
}


.rating::-moz-range-track {
    background: var(--fillbg);
}
.rating::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
}
.rating::-webkit-slider-runnable-track {
    background: var(--fillbg);
}
.rating::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
}

@media screen and (min-width: 700px) {
    .new-post {
        width: 750px;
    }
}

/* FOR POST_CONTENT */
.hr {
    border: 1px solid #FAA22C;
    margin-bottom: 1rem;
}

.card-content {
    display: grid;
    grid-template-rows: 15%, 75%,10%;

    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
}

.top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.3rem;
}
.top-left-part {
    display: flex;
    flex-grow: 1;
}
.avitar {
    height: auto;
}
.avitar img {
    border-radius: 50%;
}
.small-chunk {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 1rem;
    font-size: 20px;
}
.small-chunk p:nth-of-type(2) {
    color: #868686;
}
.greenlabel {
    background-color: #009C4E;
    height: 40px;
    margin-top: 40px;
}
.greenlabel p {
    color: white;
}
.post-body-text {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
}
.midl-part img {
    border-radius: 2%;
}

/* .card-line * {
    border: solid 1px tomato;
} */