.new-post {
    width: 80vw;
}

.new-post-header, .new-post-body, .new-post-footer {
    padding: 1rem;
}

.new-post button {
    padding: 1rem;
}

.new-post-separator {
    width: 100%;
    height: 2px;
    background: #ccc;
}

.new-post-header h3, .new-post-header i {
    font-size: 1.5rem;
}

.new-post .post-type-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.new-post .post-type-selector li {
    display: flex;
    justify-content: center;
}

.new-post .giveaway-categories li{
    background-color: #eee;
}
.new-post .giveaway-categories li:hover{
    background-color: #ccc;
}



/* Star Rating */
.rating {
    --dir: right;
    --fill: #FAA22C;
    --fillbg: rgba(100, 100, 100, 0.15);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
    border: none;
    padding:0;
}

.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
.rating::-webkit-slider-runnable-track {
background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
block-size: 100%;
mask: repeat left center/var(--starsize) var(--symbol);
-webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}
.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}
.rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
    margin-block-end: 1rem;
}


.rating::-moz-range-track {
    background: var(--fillbg);
}
.rating::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
}
.rating::-webkit-slider-runnable-track {
    background: var(--fillbg);
}
.rating::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
}

@media screen and (min-width: 700px) {
    .new-post {
        width: 750px;
    }
}

/* FOR POST_CARD PART======= */
.hr {
    border: 1px solid #FAA22C;
    margin-bottom: 1rem;
}
.box-shadow {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
    background-color: white;
    border-radius: 8px;
}

.card-content {
    display: grid;
    grid-template-rows: 15%, 75%,10%;
}

.flex-column {
    margin-left: 10px;
}

/* card header part =======*/
.top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
}
.top-left-part {
    display: flex;
    flex-grow: 1;
}
.create-post-avatar,
.post-avatar {
    height: auto;
    width: 64px;
}
.create-post-avatar img,
.post-avatar img {
    border-radius: 50%;
}
.small-chunk {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 1rem;
    font-size: 20px;
}
.small-chunk p:nth-of-type(2) {
    color: #868686;
}

.fa-solid .fa-star-sharp .yellow {
    color: #FAA22C;
}
.fa-solid .fa-star-sharp .light {
    color: #FEE9CC;
}

.post-createdAt {
    font-size: x-small;
}

.midl-part h3 {
    font-size: large;

    margin: 0;
}

.midl-part .post-type {
    font-weight: bold;
}

/* card body part =======*/
.post-body-text {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
}
.midl-part img {
    border-radius: 2%;
}
.midl-part p {
    max-width: 50rem;
    margin-top: 1rem;
}

@media screen and (max-width: 769px) {
   .midl-part span {
    display: none;
}
}


.post-reply-author {
    margin: .5rem 0;
}
.post-reply-author-avatar img{
    width: 32px;
    border-radius: 50%;
}
.post-reply-author {
    font-size: .8rem;
}
.post-reply-createdAt {
    font-size: .6rem;
}

.footer-part button.border-none.padding-1r.bg-white.pointer {
    padding: 0 0 0 5px;
}
/* icons */
.iconnum {
    color: black;
    margin-left: 3px;
}
.left-icon-area {
    display: flex;
}
.left-icon-area span {
    margin-left: 5px;
}
.left-icon-unit {
    margin-left: 10px;
}

/* card footer part===== */
.grey-line {
    border: 1px solid #B9B9B9;
    margin-top: 23px;
    margin-bottom: 15px;
}
.card-footer-comment {
    background-color: #F2F2F2;
    border-radius: 8px;
    width: 92%;
    height: 60px;
    border: unset;
}
/* .card-line * {
    border: solid 1px tomato;
} */

/* DARSHBOARD HEADER PART=== */
li {
    list-style: none;
}

.hide-text {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
}

/*
.dash-header nav {
    display: grid;
} */

/* @media screen and (mid-width: 700px) { */
    .dash-header {
        display: grid;
        grid-template-columns: 15% 85%;
        /*padding: 0 2rem;*/
    }

    .dash-header nav {
        display: grid;
        grid-template-columns: 45% 45% 10%;
    }



.menu-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu-search {
    display: flex;
    align-items: center;
}
.menu-search>input {
    background-color: #F2F2F2;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    border: unset;
}
.personal-area {
    display: flex;
    align-self: center;
}


/* HELP REQUEST FORM STYLING====== */

#helpRequestCategoriesSelector {
    background-color: white;
}
#helpRequestCategoriesSelector ul li {
    list-style: none;
    margin-left: 1rem;
}
.selection-space {
    margin-bottom: 1rem;
}
textarea {
    padding: .5rem;
}
