* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    border: 0;
    line-height: 1.5;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Epilogue', sans-serif;
    line-height: 1.3;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

/* Class to hide content accessibly ======== */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
/* Responsive Images ============ */
img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.wrapper {
    padding: 2rem 7%;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100%;
}

header ul li a {
    color: #000;
}

h1 .desktop {
    display: none;
}
h1 .mobile {
    display: block;
    max-width: 60px;
}

/* GLOBAL BUTTON STYLES ===================== */

.btn {
    border-radius: 7px;
    padding: 1rem 3rem;
    cursor: pointer;
    border: 0;
}

.btn-default {
    background-color: #f0f0f0;
    color: #000;
}

.btn-primary {
    background-color: #008DCE;
    color: #fff;
}

/* END OF GLOBAL BUTTON STYLES  ===================== */

/* GLOBAL FORM STYLES ===================== */
.form-two-column {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.input-block {
    display: block;
    width: 100%;
}

input {
    border-radius: 7px;
    border: 1px solid #959595;
    padding: 1rem;
}

/* END OF GLOBAL FORM STYLES ===================== */

main {
    margin: 3rem auto 4rem auto;
}

.feat-image {
    display: none;
}

#featured {
    text-align: center;
}

#featured p {
    margin-bottom: 2rem;
}

#signupHome {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}

#signupHome input[type="submit"]{
    font-size: 1.2rem;
}

#about {
    text-align: center;
    margin: 5rem auto;
}

#about h3 {
    margin: 1rem 3rem;
}

#about {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    justify-items: center;
}

#about article p {
    margin-top: 1rem;
    font-size: 1rem;
}

.footer-signup {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.footer-signup a {
    width: auto;
    color: #fff;
    margin: 1.5rem auto;
}

footer {
    text-align: center;
}

footer p {
    font-size: 0.8rem;
}

/* SIGN UP PAGE ======================== */
.auth-wrapper {
    padding: 2rem 7%;
}

#signupForm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
}

#signupForm button{
    font-size: 1.2rem;
}
/* END OF SIGN UP PAGE ======================== */

/* LOGIN PAGE ======================== */
.auth-wrapper {
    padding: 2rem 7%;
}

#loginForm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
}

#loginForm button{
    font-size: 1.2rem;
}
/* END OF LOGIN PAGE ======================== */

@media screen and (min-width: 700px) {
    h1 .desktop {
        display: block;
    }

    h1 .mobile {
        display: none;
    }

    .auth-wrapper {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 5rem 2% 0 2%;
    }

    /* SIGN UP PAGE ======================== */
    .signup-page {
        display: flex;
        flex-flow: column nowrap;
    }
    /* END OF SIGN UP PAGE ======================== */
}

@media screen and (min-width: 900px) {
    .wrapper {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 7%;
    }
    
    #featured {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        align-items: center;
        text-align: left;
        margin-bottom: 3rem;
    }

    #featured p {
        font-size: 1.2rem;
    }

    #featured h2 {
        font-size: 4rem;
    }
    
    .feat-image {
        display: block;
    }

    #about {
        grid-template-columns: repeat(3, 1fr);
    }

    #about h2{
        grid-column: 1 / -1;
    }
}
